*{
	font-family: "Times New Roman", Times, serif;
}

/* Introduction*/
.head{
	height: 600px;
	/*padding-left: 30px;
	padding-right: 30px;*/
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	/*background-size:contain;*/
}

.icons ul{
	list-style-type: none;
	padding-left: 0;
}

.inline {
	text-align: center;
	margin-left: 50px;
}

.inline li {
	display: inline;
}

.intro{
	margin-top: 200px;
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.bold{
	color: #cc9900;
	font-size: 60px;
	text-align: center;
}

.iconImage{
	width: 40px;
	height: 40px;
	/*float: right;*/
	margin: 0px 10px 10px 0px;
}

.yellow{
	color: #cc9900;
}

.contents{
	padding:15px;
}

/* background explaination*/
.background{
	word-wrap:break-all;
}

.iconCenter{
	text-align: center;
}

#caption{
	background: url(../images/caption.jpg) no-repeat center center fixed;
	display: none;
	position: relative;
}

#caption label{
	margin-left: 5px;
	font-size: 20px;
	color: #cc9900;
}

#caption p{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 15px;
}

.imgCenter {
  position: relative; 
  overflow: hidden;
  text-align: center;
}

.imgCenter ul {
  position: relative;
  left: 50%;
  float: left;
}

.imgCenter ul li {
  position: relative;
  left: -50%;
  float: left;
  list-style: none;
  padding: 10px;
}

/* Work experience and education*/
table{
	width:100%;
	table-layout: fixed;
	word-break: break-word;
}

td{
	font-style: italic;
	font-weight: bold;
}

/* spider graph */
#chartdiv {
	width: 100%;
	height: 300px;
}

/* submit button */
#submitBtn{
	width: 100px;
	height: 100px;
	background-color: #8F8F8F;
	border: solid 1px #8F8F8F;
	box-shadow: 10px 10px 5px #E1E2E3;
	border-radius: 50%;
	font-size: 20px;
	color:white;
}

/* box design */
.box {
    background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
    margin: 2em 0;
    padding: 2em;
    position: relative;
}

.box::after {
    content: "";
    border-color: #D9D9DB #fff #fff #D9D9DB;
    border-style: solid;
    border-width: 0 0 24px 24px;
    bottom: 0;
    position: absolute;
    right: 0;
}

/*--------------------------*/
/* windows size is smaller	*/
/*--------------------------*/
/* refine the tablet size */
@media only screen and (max-width: 768px){

	.head{
		height: 400px;
		background-size:650px auto;
	}

	.intro{
		font-size: 20px;
		margin-top: 120px;
	}

	.inline {
		margin-left: 25px;
	}

	.bold{
		font-size: 40px;
	}

	.iconImage{
		width: 30px;
		height: 30px;
	}

	/* submit button (contact page) */
	#submitBtn{
		width: 100%;
		height: 100%;
		font-size:20px;
		margin-top: 50px;
		border-radius: 30px;
		color:white;
	}

	/* my information on the right area */
	.myInfo{
		float:right;
	}
}

@media only screen and (max-width: 480px){

	.head{
		height: 300px;
		background-size:500px auto;
	}

	.intro{
		font-size: 18px;
		margin-top: 100px;
	}

	.bold{
		font-size: 25px;
	}

	figure img{
		width: 70%;
		height: 70%;
	}

	figure figcaption, a, label{
		font-size: 5px;
	}

	.imgCenter ul li{
		padding: 1px;
	}

	.iconImage{
		width: 25px;
		height: 25px;
		margin: 0px 5px 5px 0px;
	}

	#caption label{
		margin-left: 1px;
		font-size: 15px;
	}

	#caption p{
		margin-left: 2px;
		margin-right: 3px;
		font-size: 10px;
	}

	.contents{
		font-size: 10px;
	}

}
